@page
@model Giercownia.NET_JS.Pages.Groups.CreateModel

@{
    ViewData["Title"] = "Create";
}
@using Giercownia.NET_JS.Models
@inject UserManager<AppUser> UserManager
<h1>Create</h1>

<h4>Group</h4>
<hr />
<h2 class="text-danger">Creating a new group might delete you from the current one!</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Group.Name" class="control-label"></label>
                <input asp-for="Group.Name" class="form-control" />
                <span asp-validation-for="Group.Name" class="text-danger"></span>
                <input asp-for="Group.OwnerId"  value=@UserManager.GetUserId(HttpContext.User) hidden />

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
